@charset "UTF-8";
text: #26160D;
background: #fff;
light: #75F5ED;
middle: #086E71;
dark: #03403C;

red:#B83200;
yellow: #F39D01;



body {
	font-size: 12px;
    margin: 0px;
    padding: 0px;

}

.content {
	width: 1000px;
	margin: 0 auto;
    text-align: left;
    color: #03403C; 
}
.box {
    display: block;    
}
.link {
    cursor: pointer;    
}


############
.company_logo {
    float: left;
    visibility:hidden;
    vertical-align: bottom; 
}
.facebook{
    display: block;
    border: 2px solid #086E71;
    padding: 5px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    margin: 5px 0px 5px 0px;  
}

.company, .customers {
    float: left;
    width: 46%;
    margin: 5px 10px 5px 0px;
}
.facebook_error {
    display: block;
    color: #F39D01;
    font-weight: bold;  
    font-size: 18px;
    background: url("/static/images/icon/warning.png") no-repeat center left;  
    padding-left: 35px;
}
.facebook_page_name {
    margin:10px;
    padding:10px; 
    font-size: 20px;
}
.facebook_link {
    font-size: 20px;
    color: #03403C;
}
.get_facebook_page img {
    vertical-align: middle; 
}

.input_list {
    list-style: none;
    margin:0px;

}
.create_receipt_bottom {
    background-color: #03403C;
    font-size: 20px;
    color: #75F5ED;
    display: block;
    border: 2px solid #086E71;
    padding: 5px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    margin: 5px 0px 5px 0px;
    width: 100%;
    height: 50px;
}

.create_receipt_bottom:hover {
    background-color: #75F5ED;
    color: #03403C;
    
 }





.simple {
    width: 1000px;    
}

.receiptbox {
	display: block;
	width: 980px;
	float: left;
	clear:both;
	padding: 10px;
	border: 1px solid gray;
}
.receiptyou {
	display: block;
	border-top: 10px double #646D7E;
	border-bottom: 10px double #646D7E;
	width: 48%;
	float: left;
	padding-left: 10px;
	margin: 1px;
}
.receiptme {
	display: block;
	border-top: 10px double #1569C7;
	border-bottom: 10px double #1569C7;
	width: 48%;
	float: left;
	padding-left: 10px;
	margin: 1px;
}
.title {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	float: left;
	padding-left: 10px;
}
.number {
	font-size: 14px;
	text-align: right;
	display: block;
	border-bottom: 1px solid gray;
	width: 40%;	
	float: right;
}
.username {
	clear:both;
	display: block;
	border-bottom: 2px solid gray;	
	width: 90%;
	font-size: 25px;
	text-align: left;
	margin: 5px;
	padding: 5px;

}
.namepre {
	float: right;
}
.price {
	display: block;
	background-color: #AFC7C7;
	border: 1px solid #AFC7C7;
	width: 90%;
	text-align: right;
	font-size: 25px;
	margin: 5px;
	padding: 5px;
	color: black;

}

.receiptfor {
	display: block;
	float: left;
	padding: 5px;
	font-size: 15px;
	border-bottom: 1px solid gray;	
	width: 70%;
	text-align: left;
}
.datetime {
	clear:both;
	display: block;
	font-style: italic;
	font-size: 12px;	
	font-weight: bold;
	float: left;
}
.comment {
	clear:both;
	display: block;
	color: gray;
	font-size: 12px;
	text-align: left;		
}
.priceinfo {
	display: block;
	float: left;
	width: 60%;
	padding: 5px;
}

.compayinfo {
	display: block;
	float: left;
	width: 90%;
	padding: 5px;

}

.pricelist {
	border-bottom: 1px solid gray;
	font-weight: bold;
	font-size: 12px;
	clear:both;
	display: block;
	text-align: left;
}
.detail {
	float: right;
	text-align: right;
}
.postal,.address, .companyname, .tel, .url {
	display: block;
	text-align: left;
	float: left;
	font-size: 12px;
	clear:both;
}
.companyname {
	font-size: 14px;
}
.companylogo {
    vertical-align: top;
    width: 50px;
}