<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"> 
<html lang="ja"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Content-Style-Type" content="text/css"> 
<link rel="stylesheet" href="style.css" type="text/css" > 
<link rev="made" href="mailto:ayakomuro@gmail.com"> 
<title>練馬区報をテキスト</title> 
</head> 
<body><br />
<div class="main_content">
    <h1 class="error">練馬区報をテキスト化します。</h1>
    <span class="caption">エラーが発生しました。
    考えられる原因は以下のどれかでしょう。
    <br />・月/日が正しく入っていない
    <br />・2011年4月1号前の区報を選択していませんか？
    <br />・未来の区報を選んでいませんか。未来までは取得出来ません。
    <br /><a href="/9ho2txt/">選択フォームに戻る</a></span>
    </form>
    <hr />
</div>
</body>
</html>