<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"> 
<html lang="ja"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Content-Style-Type" content="text/css"> 
<link rel="stylesheet" href="./style.css" type="text/css" > 
<link rev="made" href="mailto:ayakomuro@gmail.com"> 
<title>アイコンからあの人を捜す - アイ友</title> 
</head> 
<body><br />
<div class="main_content">
		<div class="backtohome"><a href="/">Codeに戻る</a></div>

    <h1 class="error">アイコンからあの人を捜す</h1>
    <p>twitter screen nameが入ってないようです</p>
    
		    <form method="get" action="view.php">
		    <input type="text" name="twitterId" class="twitterId" value="">
		    <input type="submit" value="一覧作成" class="submit_top">
    </p>
    </form>
</div>
</body>
</html>